@charset "UTF-8";

@media screen and (min-width: 650px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #BF7A7A, #F2935C, #253C59);
    }

    section#login {
        width: 80vw;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
        border-radius: 10px 0px 0px 10px;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }

    section#login > div#formulario > h1 {
        padding-top: 20px;
        text-align: center;
        font-size: 3em; }


    section#login > div#formulario > p {
        padding-top: 20px;
        text-align: center;
    }
}

@media screen and (min-width: 990px) {
    body {
        background-image: linear-gradient(to top, #BF7A7A, #F2935C, #253C59);
    }

    section#login {
        width: 990px;
    }

    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
        border-radius: 10px 0px 0px 10px;
    }
    
    section#login > div#formulario {
        float: right;
        width: 50%; 
    }

    section#login > div#formulario > h1 {
        padding-top: 20px;
        text-align: center;
        font-size: 3em;

    }
    section#login > div#formulario > p {
        padding-top: 20px;
        text-align: center;
    }
}

