@charset "UTF-8";
/* Pelata de cores
#BF7A7A=
#D97762=
#F2935C=
#6D86A6=
#253C59=
*/
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap');
:root {
    --font01: 'Lora'
}
* {
    font-family:var(--font01);
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /*Borda faz parte da conta*/
}

body, html {
    background-color: #6D86A6;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 300px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.434);
    transition: width .3s, height .3s;
}

section#login > div#imagem {
    display: block;
    background: url(../imagens/por-do-sol.png) no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
    background-color: #D97762;
    height: 300px;
    border-radius: 10px;
    
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > h1 {
    font-size: 1.2em;
}

section#login > div#formulario > p {
    font-size: 1em;
    text-align: justify;
}

.campo {
    margin: auto;
    margin-top: 5px;
    display: block;
    font-size: 1em;
    height: 40px;
    background-color:#f2935c78;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 1px rgba(61, 60, 60, 0.316);
}
.campo > label {
    display: none;
}

.campo > .material-symbols-outlined {
    color: white;
    font-size: 1em;
    padding:5px;
}

.campo > input {
    background-color: #f2935c13;
    font-size: 1em;
    width: calc(100% - 40px);
    transform: translateY(px);
    height: 100%;
    border: 0px;
}

.campo > input:hover {
    background-color: #F2935C;
    border: 0px;
}

.campo > input:focus-within {
    background-color: #F2935C;
    border: 0px;
}

.botao {
    margin: auto;
    margin-top: 10px;
    display: block;
    font-size: 1em;
    width: 25%;
    height: 40px;
    background-color:#f2935c20;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(61, 60, 60, 0.316);
}
.botao:hover {
    background-color: #F2935C;

}
.pass {
    color: black;
    display: block;
    text-align: center;
    font-size: 1em;
    padding-top: 5px;
    margin-top: 5px;
    text-shadow: 0px 0px 1px rgba(61, 60, 60, 0.631);
}
.pass:hover {
    background-color: #F2935C;
    border-radius: 5px;
}

a > .material-symbols-outlined {
    font-size: 0.8em;
    padding-left: 0.5px;
}

